<h1>Here are all the places I've been:</h1>

<h1>Places</h1>
<ul>
  <% for p in @places %>
     <li>
      <a href="/places/<%= p['id'] %>"><%= p['name'] %></a>
    </li>
  <% end %>

  <a href="places/new" >Enter New Place</a>
</ul>